
p, h1, h3, h4, label {
    font-family: "dfpheibold-b5regular"
}

.checkout-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*color?*/
}

.checkout-flex {
  display: flex;
  justify-content: flex-end;

}

label {
  margin-bottom: 10px;
  display: block;
}



.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 20px; 
    width: 100%;
    height: 80px;
    background-color: black;
}

.button{
  background-color: #336699;
  border-style: none;
}

.button.reserve {
  height: 50px;
  width: 200px;
  color: white;
  border-radius: 10px;
}

.button.add {
  height: 50px;
  width: 100px;
  color: white;
  border-radius: 10px;
}

.button.delete {
  height: 30px;
  width: 80px;
  color: white;
  border-radius: 10px;
}

.main{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px 10px 10px;
    width: 100vw;
    color: "black";
}

.car-img-container{
    max-width: 300px;
    height: auto;
    left: 0px;
    right: 0px;
}

.card{
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  width: 400px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.center {
  display: flex;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: space-around;
}

.car-item {
  display: flex;
  justify-content: space-around;
}

.main-reservation {
  display: flex;
  flex-direction: column;
}

.checkout-button {
  display: flex;
  justify-content: flex-end;
}

.required:after {
  content:" *";
  color: red;
}

.not-required {
  display:flex;

}

